* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Comfortaa', cursive;
  font-weight: 400;
  background-color: #f3f6fd;
}

.app {
  display: flex;
  gap: 50px;
}

.logo {
  margin-bottom: 50px;
}

.panel {
  min-height: 100vh;
  padding: 30px;
  background-color: white;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

.menu__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

.menu__item {
  width: 45px;
  height: 45px;
  background: #FFFFFF;
  box-shadow: 0px 8px 14px rgba(62, 107, 224, 0.12);
  border: none;
  border-radius: 14px;
  cursor: pointer;
}

.menu__item:hover {
  background: #6A6AFB;
}

.menu__item:hover img {
  filter: brightness(0) invert(1);
}

.menu__item--active {
  background: #5051F9;
}

.menu__item--active img {
  filter: brightness(0) invert(1);
}

.menu__add {
  width: 45px;
  height: 45px;
  border: 1px solid #CAD5FF;
  border-radius: 14px;
  background: none;
  cursor: pointer;
}

.menu__add:hover {
  background: #e7ebff;
}

.content {
  min-width: 900px;
  padding-top: 45px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  max-width: 450px;
  word-wrap: break-word;
  font-weight: 400;
  font-size: 30px;
  line-height: 33px;
  color: #000000;
}

.progress {
  display: flex;
  flex-direction: column;
  gap: 12px;
  min-width: 235px;
}

.progress__text {
  display: flex;
  justify-content: space-between;
}

.progress__name {
  font-size: 14px;
  line-height: 16px;
  color: #232360;
}

.progress__percent {
  font-size: 12px;
  line-height: 13px;
  color: #768396;
}

.progress__bar {
  position: relative;
  width: 100%;
  height: 5px;
  background: #E6E9ED;
  border-radius: 4px;
}

.progress__cover-bar {
  position: absolute;
  height: 5px;
  border-radius: 4px;
  background: #5051F9;
  transition: all 0.8s;
}

main {
  margin-top: 30px;
}

.habbit {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  background: #FFFFFF;
  border-radius: 10px;
}

.habbit__day {
  min-width: 150px;
  padding: 20px 40px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
  background: #FBFAFF;
  border-radius: 10px 0 0 10px;
  border-right: 1px solid #E7EBFB;
}

.habbit__comment {
  padding: 20px 25px;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: #23235F;
}

.habbit__delete {
  margin-left: auto;
  margin-right: 10px;
  background: none;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.habbit__delete:hover {
  background: #eff2ff;
}

input {
  width: 100%;
  padding: 12px 20px;
  font-family: 'Comfortaa', cursive;
  font-size: 14px;
  line-height: 16px;
  background: #FFFFFF;
  border: 1px solid #E7EBFB;
  border-radius: 9px;
}

input:focus {
  outline: none;
  border: 1px solid #5051F9;
}

input::placeholder {
  color: #8899A8;
}

input.error {
  border: 1px solid red;
}

.habbit__form {
  position: relative;
  display: flex;
  gap: 15px;
  width: 100%;
  padding: 0 25px;
}

.input_icon {
  padding-left: 45px;
}

.input__icon {
  position: absolute;
  top: 10px;
  left: 45px;
}

.button {
  padding: 14px 30px;
  font-weight: 500;
  font-size: 13px;
  line-height: 14px;
  color: #5051F9;
  background: #EDECFE;
  border-radius: 9px;
  border: none;
  cursor: pointer;
}

.button:hover {
  background: #dbdaf5;
}

.cover {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.25);
}

.cover--hidden {
  display: none;
}

.popup {
  position: relative;
  min-width: 424px;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  padding: 20px;
  background: #FFFFFF;
  box-shadow: 0px 8px 14px 12px rgba(56, 56, 56, 0.05);
  border-radius: 10px;
}

.popup__close {
  position: absolute;
  top: 15px;
  right: 15px;
  border: none;
  background: none;
  cursor: pointer;
}

.popup h2 {
  margin: 0;
  font-size: 24px;
  font-weight: 400;
  line-height: 27px;
  text-align: center;
  color: #000000;
}

.popup p {
  margin: 0;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #768396;
}

.icon-select {
  display: flex;
  gap: 25px;
  margin-bottom: 20px;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 46px;
  height: 45px;
  padding: 10px;
  background: none;
  border: none;
  border: 1px solid #5051F9;
  border-radius: 14px;
  cursor: pointer;
}

.icon--active {
  background: #5051F9;
}

.icon:hover {
  background: #6A6AFB;
}

.icon:hover img {
  filter: brightness(0) invert(1);
}

.icon--active img {
  filter: brightness(0) invert(1);
}

.popup__form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}